bucket         = "replace-with-staging-tfstate-bucket"
key            = "aws-mockexamtest/staging/terraform.tfstate"
region         = "us-east-1"
encrypt        = true
dynamodb_table = "replace-with-staging-tf-locks"
